Source: ros-groovy-tf2-web-republisher
Section: misc
Priority: extra
Maintainer: Russell Toris <rctoris@wpi.edu>
Build-Depends: debhelper (>= 9.0.0), ros-groovy-actionlib, ros-groovy-actionlib-msgs, ros-groovy-catkin, ros-groovy-geometry-msgs, ros-groovy-roscpp, ros-groovy-tf, ros-groovy-tf2-ros
Homepage: http://ros.org/wiki/tf2_web_republisher
Standards-Version: 3.9.2

Package: ros-groovy-tf2-web-republisher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-actionlib, ros-groovy-actionlib-msgs, ros-groovy-geometry-msgs, ros-groovy-roscpp, ros-groovy-tf, ros-groovy-tf2-ros
Description: Republishing of Selected TFs
